.product-card{
    margin: 0 auto;
}

mat-card{
    width: 30%;
    height: 30%;
    margin-top: 3em;
    margin: 2em auto;
}

mat-card-actions button{
    font-weight: 600;
    background-color: #17359d;
    color: white;
}