<div class="product-header">Awsome products</div>
<div class="grid grid-pad">
  <mat-nav-list>
    <mat-list-item *ngFor="let product of products" class="product">
      <a (click)="gotoDetail(product)" matLine>{{ product.name }}</a>
      <button mat-icon-button (click)="gotoDetail(product)">
        <i class="material-icons">info</i>
      </button>
      <button mat-icon-button (click)="addToCart(product)">
        <i class="material-icons">add_shopping_cart</i>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>